@import '~bootstrap/scss/bootstrap';

body {
    background-color: #000000;
    color: #0cfc04;
}

.game-board {
    background-color: #343a40;
    max-width: 600px;
    color: #0cfc04;
}

.game-tile {
    border: 2px solid #000000;
    width: 200px;
    height: 200px;
    line-height: 180px;
    font-size: 140px;
    font-family: 'Caveat Brush', cursive;
}